* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222222;
  font-family: sans-serif;
}

header {
  color: #F2F2F2;
  max-width: 80%;
  padding: 1.5rem 0;
  margin: auto;
  position: relative; 
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

img {
  border-radius: 8px;
  box-shadow: 0 0 9px rgba(100, 100, 100, 0.7);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.1);
  z-index: 1;
}

.gallery {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr)); 
}

.gallery > div:nth-of-type(-n+5) { 
  grid-row-end: span 1; 
}

.gallery > div:nth-of-type(n+6) { 
  grid-row-end: span 2; 
}

@media (min-width: 1200px) {
  .gallery {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-template-rows: repeat(auto-fill, minmax(300px, 1fr)); 
  }
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0.336) 0%, #b1a8a87e, #f1e5e5, rgba(255,255,255,0) 100%);
  margin-left: auto; 
  padding-top: 20px;
  padding-bottom: 20px; 
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(8, 8, 8, 0.726) 0%, rgba(255, 255, 255, 0.267)25%, rgba(255, 255, 255, 0.164)75%, rgba(36,2,2,0.425)100%);
  box-shadow: 0 0 25px rgba(0,0,0,0.1), inset 0 0 1px rgba(255,255,255,0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family:"Open Sans";
  text-transform: uppercase;
  color: rgba(203,116,241,0.76);
  font-size: 18px;
  text-decoration: none; 
  
  border: none; 
 background: transparent; 
 outline: none; 

 display:block;
}

nav ul li a:hover {
 background-color: rgba(203,116,241,0.1); 
}